* {
    padding: 0;
    margin: 0;
    /*border: 1px solid #FFF; */
    font-family: "Helvetica", sans-serif;
    color: #FFF;
}

body {
    background: #474545;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-size: 75px;
}

table { 
    width:350px;
    border:1px solid black;
    float:right;
    position: relative;
    top: 150px;
    right: 25px;
    margin: 10px;
    background-color: white;
}

th, td {
    color: black;
    line-height: 20px;
    text-align: left;
    padding-right: 40px;
    padding-left: 5px;
    padding-top: 5px;
    border: 1px solid black;
}

#slidemenu {
    position: relative;
}

#content {
    position: absolute;
    height: 100%;
    width: 100%;
}

#mapsvg {
    display: block;
    margin: 0 auto;
    width: 95%;
}

#timeline {
    margin: 0 auto;
    text-align: center;
    width: 90%;
}

#year_selection {
    font-family: 'Calligraffitti', cursive;
    font-weight: bold;
    font-size: 5em;
    text-align: left;
    position: absolute;
    left: 73%;
    bottom: 85%;
}

#year_selection span {
    font: inherit;
}

.button {
    background-color: darkslategray;
    border: rgb(241, 241, 241);
}

.clearState {
    fill: #ffe6e6;
    stroke: #000;
    stroke-width: 2px;
    
}

.selectedState {

    stroke:  #66c2ff;
    stroke-width: 5px;
    z-index: -1;
    position: relative;
    stroke-dasharray: 5,5
}

.tooltip {
    border: 5px solid #000;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.focus line {
    fill: none;
    stroke: black;
    color: white;
}

.timeGraph {
    display: block;
    margin: auto;
    width: 100%;
}

.line {
    fill: none;
    stroke: black;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.area {
    fill: #ff1919;
    stroke-width: 0;
}

.area2 {
    fill: #ff4d4d;
    stroke-width: 0;
}

.activator {
    margin: auto;
    border: black solid 1px;
    border-top: none;
    border-radius: 5%;
}

.menu {
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: 4px solid rgba(204, 0, 0, 0.5);
    border-top: 4px solid rgba(204, 0, 0, 0.5);
    overflow: auto;
    margin: auto;
    display: none;
    position: relative;
    z-index: 5;
    display: none;
    width: 100%;
}

.checkboxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.checkboxes div {
    font-size: 15px;
    text-align: center;
}

.master_label {
    font-size: 25px;
}

.master_cat {
    float: left;
}

.pull {
    margin: auto;
    text-align: center;
    display: block;
    position: relative;
    width: 150px;
    height: 20px;
    font-family: "arial", sans-serif;
    font-size: 14px;
    color: whitesmoke;
    background: rgba(204, 0, 0, 0.5);
    text-decoration: none;
    -moz-border-bottom-left-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

#chart {

    float:right;
    position: relative;
    top: 390px;
    right: -300px;
    margin: 10px;
    stroke: #000;
    stroke-width: 1px;
    
}