* {
    padding: 0;
    margin: 0;
    /*border: 1px solid #FFF; */
    font-family: "Helvetica", sans-serif;
    color: #FFF;
}

body {
    background: #474545;
    background-repeat: no-repeat;
    color: #ffe6e6;
}

h1 {
    text-align: center;
    font-size: 75px;
}


#slidemenu {
    position: relative;
}

#content {
    position: absolute;
    height: 100%;
    width: 100%;
}

#mapsvg {
    display: block;
    margin: 0 auto;
    /*width: 95%;*/
    float: left;
    margin:10px;
}

#graph {
    padding-top: 55px;
    margin: 0 auto;
    width: 100%;
}


/*brush*/

.brush {
    fill: lightgray;
    fill-opacity: .75;
    shape-rendering: crispEdges;
}

circle {
    fill-opacity: 0.2;
    transition: fill-opacity 250ms linear;
}

circle.active {
    stroke: #f00;
}


/* brush */

#year_selection {
    font-family: 'BenchNine', sans-serif;
    font-weight: bold;
    font-size: 4em;
    text-align: left;
    position: absolute;
    left: 73%;
    bottom: 82%;
    white-space: nowrap;
}

.button {
    background-color: darkslategray;
    border: rgb(241, 241, 241);
}

.clearState {
    fill: #ffe6e6;
    stroke: #000;
    stroke-width: 2px;
}

.selectedState {
    stroke: #66c2ff;
    stroke-width: 4px;
    position: relative;
    stroke-dasharray: 5, 5
}

.tooltip {
    border: 5px solid #000;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.focus line {
    fill: none;
    stroke: black;
    color: white;
}

.timeGraph {
    display: block;
    margin: auto;
    width: 100%;
}

.line {
    fill: none;
    stroke: black;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.area {
    fill: #ff1919;
    stroke-width: 0;
}

.area2 {
    fill: #ff4d4d;
    stroke-width: 0;
}


/*Dropdownmenu */

.menu {
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: 4px solid rgba(204, 0, 0, 0.5);
    border-top: 4px solid rgba(204, 0, 0, 0.5);
    overflow: auto;
    margin: auto;
    position: relative;
    z-index: 5;
    width: 100%;
}

#master_cats_menu {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    margin-bottom: 3px;
}

#master_cats_menu label * {
    display: inline-block
}

#master_cats_menu label {
    display: block;
}

.master_label {
    font-size: 25px;
}
.master_label div {
    margin-right: 2%; 
}

.master_label.active {
    /*border-bottom: 2px white solid;*/
    text-decoration: underline;
    text-underline-position: below;
    -moz-text-decoration-color: white;
    text-decoration-color: white;
}


/*ENDE OBERKATEGORIEN */

#checkboxes {
    width: 5*1300px;
    margin-top: 2px;
    transform: translate3d(0, 0, 0);
    transition: transform .5s ease-in-out;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#checkboxes label * {
    display: inline-block;
}

#checkboxes label {
    display: inline-block;
    margin: 2px 0px;
}

#checkboxes > div {
    display: inline-block;
    overflow: hidden;
    width: 1300px;
}

.sub_cat {
    width: 100%;
}

#checkboxes div label {
    font-size: 15px;
    text-align: left;
    display: inline-block;
}

#wrapper {
    margin: auto;
    width: 1300px;
    overflow: hidden;
    border-top: 2px white solid;
}


/* ENDE KATEGORIEN*/
#rightContent {
    float: right;
    position: relative;
    top: 30px;
    left: -20px;

}



th,
td {
    color: black;
    line-height: 20px;
    text-align: left;
    padding-right: 40px;
    padding-left: 5px;
    padding-top: 5px;
    border: 1px solid black;
}
table {
    width: 350px;
    border: 1px solid black;
    float: right;
    position: relative;
    top: 150px;
    right: 25px;
    margin: 10px;
    background-color: white;
    border-collapse: collapse;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#chart {
    float: right;
    position: relative;
    top: 380px;
    right: -290px;
    margin: 10px;
    stroke: #000;
    stroke-width: 1px;
}

<<<<<<< HEAD

=======
div.tooltip{
    position:absolute;
    background-color: coral;
}
>>>>>>> origin/master
