* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #4e4e5e;
}

body {
    background: white;
    background-repeat: no-repeat;
    color: #4e4e5e;
}

h1 {
    text-align: left;
    font-size: 2em;
    color: #4e4e5e;
    margin-bottom: 0%;
    margin-top: 1%;
    margin-left: 2%;
}

#slidemenu {
    position: relative;
}

/* Map and Timeline */

#content {
    position: absolute;
    top: 20%;
    height: 100%;
    width: 72%;
    margin-left: 1%;
}

#mapsvg {
    display: block;
    float: left;
    margin-left: 0.5em;
    margin-top: -2em;
    border-radius: 0em;
    border: 0em solid rgba(0,0,0,0);
}

/* Timeline */

#graph {
    margin-left: 2%;
    display: inline-block;
    float: left;
    position: relative;
}

/* Brush */

.brush {
    fill: lightgray;
    fill-opacity: 0.8;
    shape-rendering: crispEdges;
}

.selectedPoint{
    stroke: yellow;
    stroke-width: 0.1em;
    stroke-linecap: round;
}

circle {
    fill-opacity: 0.2;
    transition: fill-opacity 250ms linear;
}

circle.active {
    stroke: #f00;
}


/* Mouseclicks */

.notclickable{
    pointer-events: none;
}

.clearState {
    fill: #ffe6e6;
    stroke: grey;
    stroke-width: 0em; 
}

.text {
    stroke:none;
}

.selectedState {
    stroke-width: 0.1em !important;
}

.zoomed {
    stroke-width: 0.01em
}

.hoverState {
    stroke-width: 0.1em; !important;
}

.pieselected {
    stroke: #000;
    stroke-width: 0.1em;
}

.piehover {
    opacity: 0.8;
}

.tooltip {
    position: absolute;
    color: black;
    border: 0.01em solid #000;
    padding: 0.3em;
    background-color:snow;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.focus line {
    fill: none;
    stroke: black;
    color: #4e4e5e;
}

.timeGraph {
    display: inline-block;
    margin: auto;
    width: 100%;
}

.line {
    fill: none;
}

.area {
    fill: #7b7bff; 
    stroke-width: 0;
}

.area2 {
    fill: #c1c1ff;
    stroke-width: 0;
}

/* Right Content */

#menu, #deathInfoBox, #year_selection {
    background: white;
}


#contentContainer {
    width: 100%;
    height: 50%;
}

#topContent {
    position: relative;
    margin-left: -0.5%;
    margin-bottom: 0%;
    padding: 0%;
}

#rightContent {
    float: right;
    width: 28%;
    margin-top: 0.5%;
    height: 80%;
}

/* Infobox */

/* DeathInfo */

#deathInfoBox {
    width: 93%;
    display: block;
    color: #4e4e5e;;
}

#deathInfoEntries{
    overflow: scroll;
    height: 12em;
}

.deathInfoHeading{
    color: #4e4e5e;
    text-align: center;
    font-size: 0.9em;
    font-weight: bold;
    margin-top: -0.5em;
    margin-left: 4em;
    margin-right: 4em;
    margin-bottom: 0em;
}

.deathNumber{
    text-align: center;
    color: #4e4e5e;
    margin-top: 0.1em;
    font-size: 0.8em;
    border-bottom: 0.2em solid #cccccc;
}


#deathInfoEntries {
    text-align: center;
}

.deathInfoEntry {
    border-bottom: 0.1em solid #cccccc;
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    font-size: 0.9em;
}

.deathEntryVictim {
    text-align: center;
    font-size: 0.9em;
    white-space: normal;
    color: #4e4e5e;  
}

.deathEntryEOW {
    color: #4e4e5e;
    font-size: 0.9em;
}

.deathEntryCause {
    text-align: center;
    color: #4e4e5e;
    font-size: 0.9em;
}

/* CategoriesInfoBox */

.menudataHeading{
    color: #4e4e5e;
    text-align: center;
    font-size: 0.9em;
    font-weight: bold;
    margin-top: -0.5em;
    margin-bottom: 1.1em;
    margin-left: 3em;
    margin-right: 3em;
}

#menudataEntries {
    overflow: scroll;
    height: 13em;
    font-size: 0.9em;
    border-top: 0.2em solid #cccccc;
    padding-left: 0em;
}

.mainCategorieEntry {
    padding-right: 0.5em;
    padding-left: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: 0.9em;
    border-bottom: 0.1em solid #cccccc;
    background: lightgray;
}

.subCategorieEntry {
    padding-right: 0.5em;
    padding-left: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 0.9em;
    border-bottom: 0.1em solid #cccccc;
}


#year_selection {
    font-weight: bold;
    width: 93%;
    font-size: 2.5em;
    white-space: nowrap;
    text-align: center;
    margin-bottom: 2%; 
}

.hidden {
    display: none;
}

#totalDeaths {
    margin-top: -0.5em;
    text-align: center;
}

#chart {
    margin-left: 0%;
    margin-top: 0%;
    width: 93%;
    display: block;
    stroke: white;
    stroke-width: 0.1em;
}

/* Burger Button */

#nav-icon1 {
    cursor:pointer;
}
#nav-icon1 span {
  display: block;
  position: relative;
  left: 1em;
  height: 0.2em;
  width: 2.5em;
  margin-left: 0.3em;
  margin-top: 0.05em;
  padding-bottom: 0.05em;
  background: #4e4e5e;;
  border-radius: 1em;
  opacity: 1;
  left: 0;
}


#nav-icon1 span:nth-child(1) {
  top: 0.3em;
}

#nav-icon1 span:nth-child(2) {
  top: 0.6em;
}

#nav-icon1 span:nth-child(3) {
  top: 0.9em;
}





